appnope==0.1.0
atomicwrites==1.4.0
attrs==20.2.0
backports.functools-lru-cache==1.6.1
backports.shutil-get-terminal-size==1.0.0
caniuse==0.3.1
certifi==2019.11.28
chardet==3.0.4
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
decorator==4.4.2
enum34==1.1.10
funcsigs==1.0.2
idna==2.10
importlib-metadata==2.0.0
ipython==5.10.0
ipython-genutils==0.2.0
more-itertools==5.0.0
packaging==20.4
pathlib2==2.3.5
-e git+git@github.com:PerformLine/python-performline-client.git@87f8892f4ca78b7b69739c07cc59284384b4dc3e#egg=performline
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==1.0.18
ptyprocess==0.6.0
py==1.9.0
Pygments==2.5.2
pyparsing==2.4.7
pytest==4.6.11
python-dateutil==2.6.1
PyYAML==5.3.1
requests==2.24.0
requests-mock==1.8.0
scandir==1.10.0
simplegeneric==0.8.1
six==1.15.0
statsd==3.3.0
traitlets==4.3.3
urllib3==1.25.10
wcwidth==0.2.5
zipp==1.2.0
